<div>
    <h2 id="page-heading">
        <span jhiTranslate="legaApp.document.home.title">Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="legaApp.document.home.createLabel">
            Create a new Document
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="documents?.length === 0">
        <span jhiTranslate="legaApp.document.home.notFound">No documents found</span>
    </div>
    <div class="table-responsive" *ngIf="documents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="legaApp.document.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="legaApp.document.creation">Creation</span></th>
            <th scope="col" ><span jhiTranslate="legaApp.document.creator">Creator</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents ;trackBy: trackId">
                <td><a [routerLink]="['/document', document.id, 'view' ]">{{document.id}}</a></td>
                <td>{{document.name}}</td>
                <td>{{document.creation | date:'medium'}}</td>
                <td>
                    {{document.creator?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/document', { outlets: { popup: document.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
